<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.FirebaseBQ"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireBase"
        tools:targetApi="31">
        <activity
            android:name=".SecondActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <meta-data
            android:name="sdk.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="sdk.default_notification _icon_transparent"
            android:resource="@drawable/ic_outline_notifications_active_24" />
        <meta-data
            android:name="sdk.default_notification_color"
            android:resource="@color/teal_200" />
        <meta-data
            android:name="resulticks.key"
            android:value="api_key_b78db6b3-9462-4132-a4d3-894db10b3782" />

        <service
            android:name=".FireBaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="delivery_metrics_exported_to_big_query_enabled"
            android:value="true" />
    </application>

</manifest>